# 数据处理与科学计算
geopy==2.3.0
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.3
scipy==1.10.1
scikit-learn==1.3.2

# 可视化与解释工具
keplergl==0.3.2  # Keplergl 可视化库

# 深度学习框架
torch==2.0.1
torchvision==0.15.2

# 其他依赖
# pytables==3.8.0 这个库用pip安装的时候会报错，所以暂时注释掉 要用 conda install -c conda-forge pytables=3.8.0安装
